
@import url(pageTitle.css);
@import url(footer.css);
@import url(mainContent.css);

.Images {
    width: 626px;
    height: 380px;
}

.Images-1 {
    width: 626px;
    height: 380px;
}

.mainContent {
    background-color: rgb(210, 240, 253);
}